<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>美团外卖--附近的商家</title>
	<link rel="shortcut icon" href=" img/favicon.ico" /> 
	<link rel="stylesheet" href="plugin/normalize.css">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<div id="app" data-page="home">
		<!-- 筛选排序列表 -->
		<nav class="fillter">
			<ul class="filterSort">
				<li class="filterItem" @click="toggleFilerMenue">
					<span>{{ filterMenueChecked }}</span>
					<i class="icon arrow" :class="{checked: filterMenueShow}"></i>
				</li>
				<li class="filterItem" @click="sortSeller('salesCount', 'desc')">销量最高</li>
				<li class="filterItem" @click="sortSeller('distance', 'asc')">距离最近</li>
				<li>
					<span>筛选</span>
					<i class="icon funnel"></i>
				</li>
            </ul>
            <transition name="fade">
                <!-- 综合排序菜单 -->
                <ul class="comSort" v-show="filterMenueShow">
                    <li v-for="(btn, index) in filterMenue" @click="sortSeller(...filterMenueEvent[index], index)">{{ btn }}</li>
                </ul>
            </transition>
            <!-- 遮罩层 -->
            <div 
                class="maskLayer" 
                v-show="filterMenueShow" 
                @click="filterMenueShow = false"
            /></div>
		</nav>

		<!-- 商家内容部分 -->
		<div class="content" ref="content">
            <div class="sellerCount">-- 共计 {{ sellerCount }} 个商家 --</div>
			<!-- 商家信息列表 -->
			<ul id="business">
				<seller-list :seller="seller" :key="seller.id" v-for="seller in sellerList"></seller-list>
				<!-- <li>
					<div class="bus-img">
						<img src="img/log-002.jpg">
					</div>
					<div class="bus-introd">
						<div class="bus-name">
							<span>姐妹荷叶饭</span>
						</div>
						<div class="bus-situation">
							<div class="score"><i class="star-all"></i><i class="star-all"></i><i class="star-all"></i><i class="star-all"></i><i class="star-half"></i></div>
							<div class="saleCount">
								月售<span>9124</span>
							</div>
							<div class="distance">
								<span>33分钟</span> | <span>2.8km</span>
							</div>
						</div>
						<div class="deliveryCost">
							<span>起送 ￥0</span> | <span>配送 ￥3</span>
						</div>
						<div class="activities">
							<p><span class="red">减</span>满20减8;满50减25;满80减45;满100减55</p>
							<p><span class="purple">减</span>新用户立减15元;首次使用银行卡支付不知道得少多少钱</p>
						</div>
					</div>
				</li> -->
			</ul>
			<button type="button" @click="showCreateForm" class="normal">添加商家</button>
		</div>

		<!-- 表单部分 -->
		<form name="sellerInfoCreate" v-show="formShowState">
			<div class="title">商家信息创建</div>
			<div>
				<label>商家图片</label>
				<input type="url" v-model="newInfo.image">
			</div>
			<div>
				<label>商家名称</label>
				<input type="text" v-model="newInfo.name" placeholder="请填写商家名称">
			</div>
			<div>
				<label>可否自取</label>
				<label class="radio">
					是
					<input type="radio" value="true" v-model="newInfo.pickup">
				</label>
				<label class="radio">
					否
					<input type="radio" value="false" v-model="newInfo.pickup">
				</label>
			</div>
			<div>
				<label>月售量</label>
				<input type="number" v-model="newInfo.salesCount">
			</div>
			<div>
				<label>运送时间</label>
				<input type="number" v-model="newInfo.timeUsed">
			</div>
			<div>
				<label>距离</label>
				<input type="number" v-model="newInfo.distance">
			</div>
			<div>
				<label>起送费</label>
				<input type="number" v-model="newInfo.startFee">
			</div>
			<div>
				<label>配送费</label>
				<input type="number" v-model="newInfo.transportFee">
			</div>
			<div class="activ">
				<textarea placeholder="商家活动..." v-model="newInfo.activities"></textarea>
			</div>
			<div class="btn-group">
				<button type="button" @click="hideCreateForm">取消</button>
				<button type="button" class="comfirm" @click="createSeller">确认</button>
			</div>
		</form>
	</div>

    <script src="./plugin/vue.js"></script>
    <script src="./plugin/axios.js"></script>
	<script src="./js/component.js"></script>
	<script src="./js/viewmodel.js"></script>
</body>
</html>